html{
  font-family: monospace;
}

body{
  background-color: #eee9d5;
}

h1, h2, h3, h4{
  color: forestgreen;
  margin-top:2rem;
}

li{
  list-style: square inside;
}

.contact li{
  list-style:none;
}

#name{
  text-align: center;
}

.material-icons{
  margin-top: 0.5em;
  margin-right: 0.2em;
  vertical-align:bottom;
}

.note{
  font-size: 0.8em;
}

.links{
  margin-left: 50px;
  background-color: #ddcda4;

}

.enum{
  font-size: 20px;
  font-style: oblique;
  text-align: justify;
}

.photo-carnet{
  width: 300px;
  height: auto;
}

.contact li{
  font-size: 1.4rem;
}
