html{
  font-family: monospace;
}

body{
  background-color: #eee9d5;
}

h1, h2, h3, h4{
  color: forestgreen;
  margin-top:2rem;
}

li{
  list-style: square inside;
}

.contact li{
  list-style:none;
}

#name{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  box-shadow: 5px 9px 7px 3px #225147;
}

.material-icons{
  margin-top: 0.5em;
  margin-right: 0.2em;
  vertical-align:bottom;
}

.note{
  font-size: 0.8em;
}

.links{
  margin-left: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  max-width: 800px;
  background-color: #ddcda4;

}

.enum{
  font-size: 20px;
  font-style: oblique;
  text-align: justify;
}

.photo-carnet{
  width: 300px;
  height: auto;
  box-shadow: 6px 6px 6px 3px #e8aab4
}

.contact li{
  font-size: 1.4rem;
}

#my-ul{
  margin-left: 20px;
}

#datos-personales{
  margin: 0 auto;
  width: 80%;
}
