html{
  font-family: monospace;
}

body{
  background-color: #eee9d5;
}

li{
  list-style: square inside;
}

.col li{
  list-style:none;
}

.material-icons{
  margin-top: 0.5em;
  margin-right: 0.2em;
  vertical-align:bottom;
}

h1, h2, h3, h4{
  color: forestgreen;
  margin-top:1rem;
}

.links{
  margin-left: 50px;
}
.enum{
  font-size: 20px;
  font-style: oblique;
  text-align: justify;
}

.photo-carnet{
  width: 200px;
  height: auto;
}
.header{
  width: 1170px;
  height: 90px;
  background-color: #eee;
  margin-left: auto;
  margin-right: auto;

}
.topmenu > li{
  display: inline;
  padding-top: 40px;
  margin: 30px;
}

.slidebox{
  width: 1440px;
  height: 550px;
  background-color: #111;
  color: yellow;
 }
